.content {
  margin-left: 200px;
  margin-top: 50px;
  margin-right: 40px;
}

.children {
  margin-top: 80px;
}

.header {
  position: absolute;
  top: 10px;
  right: 16px;
}

.bottomright {
  position: absolute;
  bottom: 10px;
  right: 16px;
}

.navbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}